<div class="divEntryText">{ENTRY_TEXT}</div>
<div class="pbContainer">{PRINT_BUTTON}</div>

<div class="calendarNavigation">
	<strong>{MONTH_NAME} {YEAR}</strong> - 
	<a href="{PREV_LINK}">{PREV_TEXT}</a> | 
	<a href="{NEXT_LINK}">{NEXT_TEXT}</a>
</div>

<div class="calendarContainer">
	<table class="calendarTable">
		<tr class="tabRowHead">
			<td colspan="2">{DATE_TEXT}</td>
			<td>{FROM_TEXT}</td>
			<td>{TO_TEXT}</td>
			<td>{EVENT_TEXT}</td>
			<td>{LOCATION_TEXT}</td>
		</tr>
		{CALENDAR_LIST}
	</table>
</div>