<form name="shopLoginForm" method="post" action="{POST_URL}">
	<table width="100%" cellpadding="3" cellspacing="0">
		<tr>
			<td width="120" valign="top">
				<span class="cShopSmallHead">Shoplogin</span>
				<span class="cError">{LOGIN_ERROR}</span>
			</td>
		</tr>
		<tr>
			<td width="120" valign="top">
				E-Mail:<br>
				<input type="text" name="shopUsername" value="" style="width:120px;margin-top:3px;">
			</td>
		</tr>
		<tr>
			<td width="120" valign="top">
				Passwort:<br>
				<input type="password" name="shopPassword" value="" style="width:120px;margin-top:3px;">
			</td>
		</tr>
		<tr>
			<td width="120" valign="top">
				<input class="cButton" type="submit" value="Anmelden">
			</td>
		</tr>
	</table>
</form>