<div id="divCartContent">
    <h1>Passwort vergessen</h1>
    <p class="cShopText">
    Geben Sie Ihre E-Mail Adresse unten ein damit wir Ihnen ein
	neues Passwort zusenden können. Klicken sie
	<a href="index.php?id={MENU_ID}">hier</a> 
	um zum Shop zurück zu gelangen.
    </p>
	<span class="cShopError">{PASSWORD_MESSAGE}</span>
	<form action="lostpwd.php?id={MENU_ID}&pwd" method="post">
		<br>
		<table width="100%" border="0" cellspacing="0" cellpadding="3">
			<tr>
				<td width="120">E-Mail:</td>
				<td>
					<input type="text" name="emailAddress" class="cInputShopLogin">
				</td>
			</tr>
			<tr>
				<td width="120">&nbsp;</td>
				<td>
					<input type="submit" name="confirm" value="Absenden" class="cButton">
				</td>
			</tr>
		</table>
	</form>
</div>